<div class="container">
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="alert alert-info">
        <u><strong>Word writing in Word Group</strong> </u>
        <h5>
          Current Selected Word List: <strong>{{wordLoaderService.getSelectedWordGroup()}}</strong>, Word {{counter+1}} of
          {{wordLoaderService.getCurrentWordGroupWords().length}} : <strong>{{localCurrentWordGroupWords[counter].hebWord}}</strong>
        </h5>
        <div class="alert alert-info" *ngIf="status=='start'">
          <Strong>Please Translate word</Strong>
        </div>
        <div class="alert alert-success" *ngIf="status == 'success'">
          <Strong>Good Answer</Strong>
        </div>
        <div class="alert alert-danger" *ngIf="status == 'failure'">
          <Strong>Wrong Answer</Strong>
        </div>
        <div class="alert alert-success" *ngIf="status == 'finished'">
          <Strong>Good Answer,  No more Words</Strong>
        </div>
      </div>

      <div class="form-group">


        <div class="row">
          <div class="col-sm-3">
            <label for="translation">Translate:</label>
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="translation" name="translation" [(ngModel)]="translation" ng-model="showWordsControl.translation">
          </div>
          <div class="col-sm-3">
            <button class="btn btn-primary" (click)="checkWord()" (disabled)="status == 'finished'">send</button>
            <button class="btn btn-info" (click)="showHint(true)">Hint</button>
          </div>
        </div>
        <div class="row" *ngIf="swShowHint">
          <div class="col-sm-3"></div>
          <div class="col-sm-9">
            <strong>{{localCurrentWordGroupWords[counter].engWord}}</strong>
          </div>
        </div>
        <div class="row" *ngIf="!swShowHint">
          <div class="col-sm-12 ">&nbsp;</div>
        </div>
      </div>

      <a class="btn btn-warning btn-sm " (click)="reset() ">Reset</a>
      <a class="btn btn-primary btn-sm " [routerLink]="[ '/selectWords'] ">Back</a>
    </div>



    <div class="col-sm-6 ">
      <img src="../../../assets/voc4.png " class="img-thumbnail ">
    </div>
  </div>

</div>