<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" [routerLink]="['home']">Home</a>
    </div>
    <ul class="nav navbar-nav">
        <li>
            <a [routerLink]="['selectWordGrop']">Select Word Group</a>
        </li>
        <li>
            <a [routerLink]="['showWords']">Show Words</a>
        </li>
        <li>
            <a [routerLink]="['practice/select']">Select Words </a>
        </li>
        <li>
            <a [routerLink]="['practice/write']">Write Words </a>
        </li>
    </ul>
</nav>





<router-outlet></router-outlet>